body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
  }
  
  form input,
  form textarea,
  form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  form textarea {
    resize: vertical;
    min-height: 60px;
  }
  
  form button {
    background-color: #c8ff00;
    color: rgb(44, 40, 40);
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #b30000;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  table th, table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  table th {
    background-color: #007bff;
    color: white;
  }
  