<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <nav>
  <a routerLink="/register">Register</a> |
  <a routerLink="/login">Login</a> |
  <a routerLink="/profile">Profile</a>
</nav>
<router-outlet></router-outlet> -->

<nav>
  <a href=""></a>
  <a routerLink="./register">Register</a> |
  <a routerLink="/login">Login</a> |
  <a routerLink="/profile">Profile</a>
</nav>

<router-outlet></router-outlet>



<!-- <app-register></app-register>
<hr>
<app-login></app-login>
<hr>
<app-profile></app-profile> -->
